.signup-container {
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 0px 70px;
    border-radius: 6px;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
  }
  .signup-container .form-wrapper{
      display: flex;
      flex-direction: column; 
      margin-bottom: 10px;
  }
  .signup-container .form-wrapper label{
    color: white;
    font-size: 20px;
  }
  
  .signup-container .input {
    border: none;
    border-radius: 100px;
    padding: 10px;
    margin: 5px 0px 5px 0px;
    font-size: larger;
    width: 400px;
    background-color: #414141;
    color: white;
  }
  .signup-container .input:focus{
      outline: none;
  }
  .signup-container .button-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .signup-container .button-wrapper button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    padding: 16px;
    width: 260px;
    border: none;
    background-color: #414141;
    color:white;
    font-size: 17px;
    margin:10px;
    cursor: pointer;
  }
  .signup-container .button-wrapper button:hover {
    background-color:rgb(10, 221, 140);
  }
  .signup-container .button-wrapper p{
      font-size: 15px;
      font-weight: 500;
  }
  .signup-container .button-wrapper a {
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
  }
 
  